<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>说句心里话</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/style.css">

    <script src="./public/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

    <div id="app">
        <!-- 导航栏 -->
        <div class="main-header">
            <div class="container">
                <h1>JavaScript编程入门</h1>
            </div>
        </div>

        <!-- 主要内容 -->
        <div class="container">
            <!-- 左侧内容区 -->
            <div class="panel panel-default col-md-8">
                <!-- 我的心里话 -->
                <div class="panel-heading">
                    <h3 class="panel-title">我的心里话</h3>
                </div>
                <div class="panel-body">

                    <div class="words-pannel" v-for="item in wordsList">
                        <div class="media">
                            <div class="media-left">
                                <!-- <a href="#"> -->
                                <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{ item.name }}
                                </h4>
                                {{ item.words }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 右侧内容区 -->
            <div class="panel panel-default col-md-4">

                <!-- 我想对老师说 -->
                <div class="panel-heading">
                    <h3 class="panel-title">老师，我想对你说</h3>
                </div>
                <div class="panel-body" id="wanttotalk">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">姓名</span>
                        <input type="text" class="form-control" v-model="name" placeholder="报上名来" aria-describedby="basic-addon1">
                    </div>


                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">账号</span>
                        <input type="text" class="form-control" v-model="account" placeholder="注册用的手机或邮箱" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">内容</span>
                        <input type="text" class="form-control" v-model="content" placeholder="想说就说" aria-describedby="basic-addon1">
                    </div>

                    <button v-on:click="sendToTecher" class="btn btn-primary ">发给老师</button>

                </div>



                <!-- 玩的是技术 -->
                <div class="panel-heading">
                    <h3 class="panel-title">玩的就是技术</h3>
                </div>
                <div class="panel-body">

                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.gitTopicsList">
                        <a v-bind:href="item.url">
                        {{ item.title }}
                      </a>
                    </li>
                </div>

                <!-- 华丽PPT -->
                <div class="panel-heading">
                    <h3 class="panel-title">华丽的PPT</h3>
                </div>
                <div class="panel-body">
                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.pptList">
                        <a v-bind:href="item.url">
                            {{ item.title }}
                          </a>
                    </li>
                </div>
                <!-- 受用的话题 -->
                <div class="panel-heading">
                    <h3 class="panel-title">受用的话题</h3>
                </div>
                <div class="panel-body">
                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.topicsList">
                        <a v-bind:href="item.url">
                                {{ item.title }}
                              </a>
                    </li>
                </div>


            </div>



        </div>


    </div>


    <div class="footer container-fluid">
        <a href="https://js.xinshengdaxue.com/">
            <h3>常回家看看</h3>
        </a>
    </div>


</body>

</html>

<script>
    // vue官网： https://cn.vuejs.org/v2/guide/
    // 初始化Vue
    var app = new Vue({
        el: '#app',   // #app 和html中div#id的 app 对应
        data: {
            wordsList: [],  // 变量wordsList可以在html使用
            tecdocs: {

            },
            name: "",
            account: "",
            content: ""
        },
        methods: {
            // 请求技术文档数据
            fectchTecdocsData: function () {
                axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/catelog').then(function (res) {

                    if (res.status === 200) {
                        app.tecdocs = res.data.catelog
                    } else {
                        console.log('获取内容失败')
                    }
                }).catch(function (err) {
                    console.log(err)
                })
            },

            // 请求心里话数据
            fectchHeartData: function () {
                axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
                    .then(function (res) {
                        var newList = []
                        // 循环列表
                        res.data.words.forEach(function (obj) {
                            //处理图片链接不规范
                            // 数据里 有 avatar 和  photograph 就直接判断了
                            var avatar = obj.avatar
                            if (avatar === undefined) {
                                // 如果不是avatar 就讲photograph改为 avatar
                                avatar = obj.photograph
                            }
                            // 如果包含括号
                            if (avatar.includes('(') && avatar.includes(')')) {
                                // 先分离出左边括号 再分离右边括号 
                                var newAvatar = avatar.split('(')[1].split(')')[0]
                                obj.avatar = newAvatar
                            }
                            // 将处理过的和无需处理的放入新的数组
                            newList.push(obj)

                        }, this);

                        app.wordsList = newList;
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            },

            // 发送消息给老师
            sendToTecher: function () {

                if (!(this.name && this.account && this.content)) {
                    alert('以上三个为必填内容');
                    return;
                }

                console.log(this.name, this.account, this.content)

                axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe', {
                    name: this.name,
                    account: this.account,
                    content: this.content
                })
                    .then(function (res) {
                        console.log(res)
                    })
                    .catch(function (err) {
                        console.log(err)
                    })
            }

        }
    });

    app.fectchHeartData();
    app.fectchTecdocsData();

</script>