<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>说句心里话</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/style.css">

    <script src="./public/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

    <div id="app">
        <!-- 导航栏 -->
        <div class="main-header">
            <div class="container">
                <h1>JavaScript编程入门</h1>
            </div>
        </div>

        <!-- 主要内容 -->
        <div class="container">
            <!-- 左侧内容区 -->
            <div class="panel panel-default col-md-8">
                <!-- 我的心里话 -->
                <div class="panel-heading">
                    <h3 class="panel-title">我的心里话</h3>
                </div>
                <div class="panel-body">

                    <div class="words-pannel" v-for="item in wordsList">
                        <div class="media">
                            <div class="media-left">
                                <!-- <a href="#"> -->
                                <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    {{ item.name }}
                                </h4>
                                {{ item.words }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 右侧内容区 -->
            <div class="panel panel-default col-md-4">
                <!-- 玩的是技术 -->
                <div class="panel-heading">
                    <h3 class="panel-title">玩的就是技术</h3>
                </div>
                <div class="panel-body">

                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.gitTopicsList">
                        <a v-bind:href="item.url">
                        {{ item.title }}
                      </a>
                    </li>
                </div>

                <!-- 华丽PPT -->
                <div class="panel-heading">
                    <h3 class="panel-title">华丽的PPT</h3>
                </div>
                <div class="panel-body">
                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.pptList">
                        <a v-bind:href="item.url">
                            {{ item.title }}
                          </a>
                    </li>
                </div>
                <!-- 受用的话题 -->
                <div class="panel-heading">
                    <h3 class="panel-title">受用的话题</h3>
                </div>
                <div class="panel-body">
                    <li class="list-group-item list-group-item-x" v-for="item in tecdocs.topicsList">
                        <a v-bind:href="item.url">
                                {{ item.title }}
                              </a>
                    </li>
                </div>


            </div>



        </div>


    </div>


    <div class="footer container-fluid">
        <a href="https://js.xinshengdaxue.com/">
            <h3>常回家看看</h3>
        </a>
    </div>


</body>

</html>

<script>
    // vue官网： https://cn.vuejs.org/v2/guide/
    // 初始化Vue

    // 把收集的数据放在这里
    //心里话
    //   定义新的列表存储更改过的心里话
    var newList = []


    axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
        .then(function (response) {

            // console.log(response)

            if (response.status === 200) {//正常

                var wordsList = response['data']['words']
                // 循环列表
                wordsList.forEach(function (obj) {
                    //处理图片链接不规范
                    // 数据里 有 avatar 和  photograph 就直接判断了
                    var avatar = obj.avatar
                    if (avatar === undefined) {
                        // 如果不是avatar 就讲photograph改为 avatar
                        avatar = obj.photograph
                    }
                    // 如果包含括号
                    if (avatar.includes('(') && avatar.includes(')')) {
                        // 先分离出左边括号 再分离右边括号 
                        var newAvatar = avatar.split('(')[1].split(')')[0]
                        obj.avatar = newAvatar
                    }
                    // 将处理过的和无需处理的放入新的数组
                    newList.push(obj)

                }, this);

            } else {
                alert('获取内容失败')
            }

        })
        .catch(function (error) {
            console.log(error);
        });

    // 请求topic列表
    var catelog = {};
    // var mytecdocs = []
    axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/catelog').then(function (res) {

        if (res.status === 200) {
            // 获取TopicsList
            //1. 直接赋值 结果无法在HTML上渲染出来
            // mytecdocs = res.data.catelog.gitTopicsList 
            // // 2. 追加数据 就可以在THML上渲染出来了
            // res.data.catelog.gitTopicsList.forEach(function(element) {
            //     mytecdocs.push(element)
            // }, this);
            catelog.gitTopicsList = res.data.catelog.gitTopicsList
            catelog.pptList = res.data.catelog.pptList
            catelog.topicsList = res.data.catelog.topicsList

        } else {
            console.log('获取内容失败')
        }
    }).catch(function (err) {
        console.log(err)
    })

    var myvue = new Vue({
        el: '#app',   // #app 和html中div#id的 app 对应
        data: {
            wordsList: newList,  // 变量wordsList可以在html使用
            tecdocs: catelog
        }
    });

</script>