.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background: url(http://staticcdn.igetget.com/www/newpc/dist/img/downlod-bg.5aac54d.png) 50% no-repeat;
  background-size: cover;
}


.main-header h1 {
  margin-top: 0;
  color: #fff;
}

.words-pannel {
  margin-top: 10px;
}

.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}

.footer {

 margin-top: 60px;
  background-color: #6f5499;
  border-top: 1px solid #eaecef;
}

.footer h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  text-align:center 
}
